:root {
  --IS-fs-heading1: 2.8rem; /* heading font size for Our Service*/
  --IS-fs-heading2: 2.3rem; /* heading font size for nWant This Service*/
  --IS-fs-paragraph: 1.25rem; /* paragraph font size*/
  --IS-fs-navlink: 1.2rem; /* navlinks font size*/
  --IS-fs-btn: 1.2rem; /* button font size */
  --IS-lh-paragraph: 30px; /* paragraph line height */
}

.indService-back-container {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.indService-backBtn {
  color: #3e90ee;
  text-decoration: none;
}

.indService-container {
  padding: var(--pd-c);
}

.indService-flexbox {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.indService-links {
  display: flex;
  flex-direction: column;
}

.indService-left {
  width: 30%;
}

.indService-right {
  width: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indService-img {
  width: 100%;
}

.indService-img img {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 15px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.indService-attribution {
  font-family: "Roboto";
  text-decoration: none;
  font-size: 0.9rem;
  color: #3e90ee;
}

.indService-otherServices {
  font-family: "Roboto";
  font-size: var(--IS-fs-heading1);
  margin-bottom: 25px;
  text-align: center;
}

.indService-contactButton {
  border-radius: 26px;
  font-family: "Roboto";
  font-size: var(--IS-fs-btn);
  font-weight: 600;
  padding: 13px 35px;
  color: #2f2f2f;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fbfbfd inset;
  transition: all 0.4s ease;
  cursor: pointer;
  align-self: center;
  text-decoration: none;
}

.indService-contactButton:hover {
  border: solid 2px white;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  transform: translateY(-2px);
}

.indService-link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  color: #2f2f2f;
  font-size: var(--IS-fs-navlink);
  text-align: center;
  background-color: #fbfbfd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.indService-link:hover {
  color: #1b83fd;
}

.active {
  border: 3px solid #1b83fd;
  color: #1b83fd;
}

.indService-link:not(:last-child) {
  margin-bottom: 15px;
}

.indService-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indService-needHelp {
  font-family: "Roboto";
  font-weight: 700;
  font-size: var(--IS-fs-heading2);
  margin-bottom: 10px;
  margin-top: 40px;
}

.indService-contactParagraph {
  font-family: "Roboto";
  font-weight: 500;
  font-size: var(--IS-fs-paragraph);
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
  line-height: var(--IS-lh-paragraph);
}

.indService-paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--IS-fs-paragraph);
  margin-top: 25px;
  line-height: var(--IS-lh-paragraph);
  white-space: pre-line;
  vertical-align: bottom;
  text-align: justify;
}

@media all and (max-width: 1400px) {
  :root {
    --IS-fs-heading1: 2.4rem;
    --IS-fs-heading2: 2rem;
    --IS-fs-paragraph: 1.1rem;
    --IS-fs-navlink: 1.1rem;
    --IS-fs-btn: 1.1rem;
    --IS-lh-paragraph: 28px;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --IS-fs-heading1: 2.3rem;
    --IS-fs-heading2: 1.9rem;
    --IS-fs-paragraph: 1.05rem;
    --IS-fs-navlink: 1.05rem;
    --IS-fs-btn: 1rem;
    --IS-lh-paragraph: 27px;
  }
}

@media all and (max-width: 960px) {
  :root {
    --IS-fs-heading1: 1.8rem;
    --IS-fs-heading2: 1.4rem;
    --IS-fs-paragraph: 1rem;
    --IS-fs-navlink: 1rem;
  }

  .indService-link {
    padding: 6px;
  }

  .indService-link:not(:last-child) {
    margin-bottom: 10px;
  }

  .indService-left {
    width: 35%;
  }

  .indService-right {
    width: 60%;
  }

  .indService-otherServices {
    margin-bottom: 20px;
  }

  .indService-paragraph {
    margin-top: 10px;
  }

  .indService-needHelp {
    margin-bottom: 5px;
    margin-top: 25px;
  }

  .indService-contactParagraph {
    font-weight: 400;
    max-width: 250px;
  }

  .indService-contactButton {
    padding: 9px 20px;
  }
}
@media all and (max-width: 600px) {
  :root {
    --IS-fs-heading1: 2.2rem;
    --IS-fs-heading2: 1.7rem;
    --IS-fs-navlink: 1.05rem;
    --IS-fs-btn: 1rem;
    --IS-lh-paragraph: 25px;
  }

  .indService-flexbox {
    justify-content: center;
    align-items: center;
    gap: 30px 0px;
    flex-direction: column-reverse;
  }
  .indService-link {
    font-weight: 600;
  }

  .indService-left {
    width: 100%;
  }

  .indService-right {
    width: 100%;
  }

  .indService-otherServices {
    margin-bottom: 15px;
  }

  .indService-paragraph {
    margin-top: 10px;
  }

  .indService-needHelp {
    margin-top: 30px;
  }

  .indService-contactParagraph {
    margin-bottom: 15px;
  }

  .indService-contactButton {
    padding: 10px 30px;
  }
}

@media all and (max-width: 400px) {
  :root {
    --IS-fs-heading1: 1.6rem;
    --IS-fs-heading2: 1.4rem;
    --IS-fs-paragraph: 0.875rem;
    --IS-fs-navlink: 1rem;
    --IS-fs-btn: 0.95rem;
    --IS-lh-paragraph: 23px;
  }

  .indService-link {
    font-weight: 500;
  }

  .indService-needHelp {
    margin-bottom: 10px;
  }

  .indService-contactParagraph {
    max-width: 250px;
    margin-bottom: 13px;
    line-height: 23px;
  }

  .indService-contactButton {
    border-radius: 26px;
    padding: 9px 28px;
  }
}
