.home-container {
  overflow-x: hidden;
}

.home-first {
  position: relative;
  background-color: rgba(255, 255, 255, 0.993);
}

.home-aboutUs {
  position: relative;
  background-image: linear-gradient(#77b5ff, rgba(255, 255, 255, 0));
  padding: var(--H-AU-pd-container);
}

.home-services {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-recentWorks {
  background: transparent;
  height: 370px;
  padding: var(--pd-c);
}

.home-review {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 15.43%,
    #d0d4f9 100%
  );
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 70px;
  position: relative;
}

@media all and (max-width: 1425px) {
  .home-recentWorks {
    height: 720px;
  }
}

@media all and (max-width: 1200px) {
  .home-review {
    padding-bottom: 10px;
  }
}
@media all and (max-width: 700px) {
  .home-recentWorks {
    height: 1100px;
  }
}
@media all and (max-width: 600px) {
  .home-aboutUs {
    height: 600px;
  }
  .home-services {
    height: 530px;
  }
  .home-recentWorks {
    height: 1050px;
  }
  .home-blogs {
    height: 1540px;
  }
}
