@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");

:root {
  --H-T-fs-staticText: 4.5rem;
  --H-T-fs-text: 6.5rem;
  --H-T-vw-homeTop: 43vw;
  --H-T-w-rocket: 13%;
  --H-T-w-planet: 9%;
  --H-T-w-man: 25%;
  --H-T-w-background: 30%;
}

.home-top-main {
  position: relative;
  width: 100%;
  height: 100%;
}

/*Text*/
.home-top-text {
  position: absolute;
  left: 36%;
  top: 23%;
  font-size: var(--H-T-fs-staticText);
  font-family: "Baloo 2";
  max-width: 650px;
  line-height: 1;
  font-weight: 700;
  background: linear-gradient(45deg, #f65cff, #ab36fd, #a289ff, #0047fd);
  background-size: 300%;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 7s ease-in-out infinite;
  -moz-animation: animated_text 7s ease-in-out infinite;
  -webkit-animation: animated_text 7s ease-in-out infinite;
  animation-timing-function: ease;
}

.home-top-text h1 {
  font-size: var(--H-T-fs-text);
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
/*Text*/

.home-top {
  height: var(--H-T-vw-homeTop);
  overflow: hidden;
  display: relative;
}
.home-top-imgCollection {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-top-leftbg {
  width: var(--H-T-w-background);
  position: absolute;
}

.home-top-rightbg {
  width: var(--H-T-w-background);
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-top-floatingman {
  width: var(--H-T-w-man);
  position: absolute;
  bottom: 3%;
  left: 7%;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.home-top-planet {
  width: var(--H-T-w-planet);
  position: absolute;
  top: 7%;
  left: 5%;
  animation-name: planet;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.home-top-rocket {
  width: var(--H-T-w-rocket);
  position: absolute;
  left: 16%;
  top: 10%;
  animation-name: rocket;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes rocket {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(-5px, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes planet {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(5px, 3px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media all and (max-width: 1400px) {
  :root {
    --H-T-fs-staticText: 3.5rem;
    --H-T-fs-text: 5rem;
  }
  .home-top-text {
    left: 35%;
    top: 25%;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --H-T-fs-staticText: 3rem;
    --H-T-fs-text: 4rem;
    --H-T-vw-homeTop: 45vw;
    --H-T-w-rocket: 11%;
    --H-T-w-planet: 10%;
    --H-T-w-man: 26%;
    --H-T-w-background: 31%;
  }
  .home-top-text {
    top: 30%;
  }
  .home-top-rightbg {
    right: -5%;
  }
}

@media all and (max-width: 960px) {
  :root {
    --H-T-fs-staticText: 2.3rem;
    --H-T-fs-text: 3.3rem;
    --H-T-vw-homeTop: 50vw;
    --H-T-w-rocket: 14%;
    --H-T-w-planet: 11%;
    --H-T-w-man: 28%;
    --H-T-w-background: 33%;
  }
  .home-top-text {
    left: 37%;
    top: 27%;
    max-width: 320px;
  }
}

@media all and (max-width: 800px) {
  :root {
    --H-T-fs-text: 2.6rem;
    --H-T-fs-staticText: 1.6rem;
    --H-T-w-man: 25%;
    --H-T-w-background: 35%;
  }
  .home-top-text {
    left: 34%;
    top: 32%;
    max-width: 300px;
  }
  .home-top-leftbg {
    left: -5%;
  }
}

@media all and (max-width: 600px) {
  :root {
    --H-T-fs-text: 2.3rem;
    --H-T-fs-staticText: 1.3rem;
    --H-T-vw-homeTop: 60vw;
    --H-T-w-rocket: 12%;
    --H-T-w-planet: 9%;
    --H-T-w-man: 23%;
    --H-T-w-background: 50%;
  }

  .home-top-text {
    left: 27%;
    top: 32%;
  }

  .home-top-leftbg {
    left: -25%;
  }

  .home-top-rightbg {
    right: -10%;
  }

  .home-top-floatingman {
    bottom: 10%;
    left: 5%;
  }

  .home-top-planet {
    left: 2%;
  }

  .home-top-rocket {
    left: 10%;
  }
}

@media all and (max-width: 400px) {
  :root {
    --H-T-fs-text: 1.8rem;
    --H-T-fs-staticText: 1rem;
    --H-T-vw-homeTop: 50vw;
    --H-T-w-rocket: 13%;
    --H-T-w-planet: 8%;
    --H-T-w-man: 26%;
  }

  .home-top-text {
    left: 23%;
    top: 27%;
    max-width: 200px;
  }

  .home-top-floatingman {
    bottom: 7%;
    left: 73%;
  }

  .home-top-leftbg {
    left: -30%;
  }

  .home-top-rightbg {
    right: -20%;
  }
  .home-top-planet {
    top: 7%;
    left: 1%;
  }

  .home-top-rocket {
    left: 7%;
  }
}
