@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --Cr-fs-subHeading: 2rem;
  --Cr-w-image: 80px;
  --Cr-fs-name: 1.5rem;
  --Cr-fs-position: 0.95rem;
  --Cr-fs-toolName: 1.25rem;
  --Cr-fs-toolName-a: 1.125rem;
}

.credentials-container {
  background-color: #fbfbfd;
  padding: var(--pd-c);
}

.credentials-individual {
  display: flex;
}

.credentials-subHeading {
  font-family: "Inter";
  font-size: var(--Cr-fs-subHeading);
}

.credentials-team {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.credentials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 90px;
  box-shadow: rgba(69, 69, 87, 0.25) 0px 8px 20px -5px,
    rgba(134, 134, 134, 0.3) 0px 4px 8px -4px;
}

.credentials-image {
  width: 80px;
  margin-top: -40px;
  clip-path: circle();
  border: 5px solid #a7a7f8;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.credentials-card:hover .credentials-image {
  border: 5px solid #3ec1ee;
}

.credentials-name {
  font-family: "Mulish";
  color: #2f2f2f;
  font-weight: 600;
  font-size: var(--Cr-fs-name);
  color: #3ec1ee;
  margin-bottom: 3px;
}

.credentials-mail {
  text-decoration: none;
  font-family: "Mulish";
  color: #bebebe;
  font-size: 0.9rem;
  margin-bottom: 15px;
  transition: all 0.4s ease;
}

.credentials-mail:hover {
  color: #0e63e3;
  font-weight: 600;
}

.credentials-position {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: var(--Cr-fs-position);
  font-family: "Roboto", sans-serif;
  color: #838383;
  margin-bottom: 15px;
  font-weight: 500;
}

.credentials-iconsContainer {
  width: 100%;
  height: 100%;
  background-color: #3ec1ee;
  border-radius: 0 0 20px 20px;
}

.credentials-icons {
  font-size: 1.3rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 12px;
  color: #ffffff;
}

.credentials-icons a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease-in-out;
}

.credentials-icons a:hover {
  transform: scale(1.1);
  color: #2f2f2f;
}
.credentials-team {
  margin-bottom: 40px;
}
.credentials-toolUsed {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  margin-top: 10px;
}
.credentials-toolName {
  color: #3ec1ee;
  font-size: var(--Cr-fs-toolName);
  font-weight: 500;
}

.credentials-toolLink a {
  text-decoration: none;
  color: #2f2f2f;
  padding-bottom: 0.25rem;
  position: relative;
  font-size: var(--Cr-fs-toolName-a);
}
.credentials-toolLink a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3ec1ee;
  transition: width 0.25s ease-out;
}
.credentials-toolLink a:hover::before {
  width: 100%;
}

@media (max-width: 960px) {
  :root {
    --Cr-fs-subHeading: 1.8rem;
    --Cr-w-image: 70px;
    --Cr-fs-name: 1.3rem;
    --Cr-fs-position: 0.8rem;
    --Cr-fs-toolName: 1.18rem;
    --Cr-fs-toolName-a: 1.06rem;
  }

  .credentials-card {
    width: 260px;
    height: 190px;
  }
}

@media (max-width: 660px) {
  :root {
    --Cr-fs-subHeading: 2rem;
    --Cr-w-image: 80px;
    --Cr-fs-name: 1.5rem;
    --Cr-fs-position: 0.95rem;
    --Cr-fs-toolName: 1.25rem;
    --Cr-fs-toolName-a: 1.125rem;
  }

  .credentials-card {
    width: 330px;
    height: 210px;
  }
}

@media (max-width: 400px) {
  :root {
    --Cr-fs-subHeading: 1.4rem;
    --Cr-w-image: 70px;
    --Cr-fs-name: 1.3rem;
    --Cr-fs-position: 0.8rem;
    --Cr-fs-toolName: 1rem;
    --Cr-fs-toolName-a: 0.93rem;
  }

  .credentials-card {
    width: 260px;
    height: 190px;
  }
}
