:root {
  --I-fs-heading: 1.35rem; /* heading name font size */
  --I-fs-paragraph: 1rem; /* paragraph font size*/
  --I-fs-date: 0.9rem; /* date font size */
  --I-gap-internDetails: 2.5px 0; /*intern details gap*/
  --I-w-image: 95px; /* image width */
  --I-br-container: 20px; /* Border radius for container */
  --I-br-picture: 20px; /* Border radius for picture container */
}

.interns-container {
  padding: var(--pd-c);
}

.interns-flexbox {
  display: flex;
  gap: 40px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.interns-categories {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  color: #2f2f2f;
  margin-bottom: 30px;
}

.interns-fieldDropdown {
  padding: 12px 15px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 1.1rem;
  transition: all 0.4s;
  cursor: pointer;
}

.interns-fieldDropdown:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.interns-left {
  display: flex;
  gap: 20px;
}

.interns-card {
  max-width: 480px;
  min-width: 420px;
  background-color: rgb(255, 255, 255);
  border-radius: var(--I-br-container);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  gap: 20px;
  position: relative;
  font-family: "Roboto";
  flex: content;
  transition: all 0.5s;
}

.interns-card:hover {
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  --shadow-color: rgba(57, 112, 223, 0.705);
  transform: translateY(-2px);
  box-shadow: none;
}

.interns-picContainer {
  width: var(--I-w-image);
  height: var(--I-w-image);
  overflow: hidden;
  border-radius: var(--I-br-picture);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.4s;
}
.interns-card:hover .interns-picContainer {
  box-shadow: rgba(54, 108, 224, 0.568) 0px 5px 15px 0px;
}

.interns-detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.interns-picture {
  width: 100%;
}

.interns-name {
  font-weight: 600;
  font-size: var(--I-fs-heading);
  color: #2f2f2f;
}

.interns-detail {
  font-size: var(--I-fs-paragraph);
  display: flex;
  flex-direction: column;
  gap: var(--I-gap-internDetails);
  font-weight: 400;
}

.interns-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interns-mail {
  align-self: flex-end;
}

.mail {
  font-size: calc(var(--I-fs-paragraph) + 0.6rem);
  color: #3ec1ee;
  transition: all 0.5s;
  margin-right: 5px;
}

.mail:hover {
  color: #3e76ee;
}

.interns-date {
  font-size: var(--I-fs-date);
  font-weight: 500;
  color: #676767;
}

@media all and (max-width: 1765px) {
  :root {
    --I-w-image: 85px;
  }

  .interns-flexbox {
    gap: 30px 30px;
    justify-content: space-evenly;
  }

  .interns-card {
    max-width: 45%;
    min-width: 455px;
    padding: 13px;
    gap: 20px;
  }
}

@media all and (max-width: 1400px) {
  :root {
    --I-fs-heading: 1.15rem;
    --I-fs-paragraph: 0.95rem;
    --I-fs-date: 0.9rem;
    --I-w-image: 80px;
  }

  .interns-card {
    min-width: 360px;
  }

  .interns-categories {
    gap: 20px;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .interns-fieldDropdown {
    padding: 10px 13px;
    font-size: 1rem;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --I-fs-heading: 1.05rem;
    --I-fs-paragraph: 0.9rem;
    --I-fs-date: 0.8rem;
    --I-br-container: 18px;
    --I-br-picture: 18px;
  }

  .interns-flexbox {
    gap: 25px 25px;
  }

  .interns-card {
    min-width: 380px;
  }
}

@media all and (max-width: 960px) {
  :root {
    --I-fs-heading: 1rem;
    --I-fs-paragraph: 0.85rem;
    --I-fs-date: 0.75rem;
    --I-w-image: 70px;
    --I-br-container: 18px;
    --I-br-picture: 18px;
    --I-gap-internDetails: 1px 0;
  }

  .interns-categories {
    gap: 20px;
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .interns-fieldDropdown {
    padding: 8px 9px;
    font-size: 0.98rem;
  }

  .interns-label {
    font-size: 1rem;
  }

  .interns-flexbox {
    gap: 20px 20px;
    justify-content: space-evenly;
  }

  .interns-card {
    min-width: 340px;
    padding: 15px;
    gap: 5px;
  }
}

@media all and (max-width: 890px) {
  :root {
    --I-fs-heading: 1.2rem;
    --I-fs-paragraph: 0.9rem;
    --I-fs-date: 0.75rem;
    --I-w-image: 80px;
  }

  .interns-flexbox {
    gap: 25px 25px;
  }

  .interns-card {
    max-width: 100%;
    min-width: 340px;
    padding: 13px;
    gap: 5px;
  }
}

@media all and (max-width: 600px) {
  :root {
    --I-fs-heading: 1rem;
    --I-fs-paragraph: 0.8rem;
    --I-fs-date: 0.7rem;
    --I-w-image: 65px;
    --I-br-container: 18px;
    --I-br-picture: 18px;
  }

  .interns-flexbox {
    gap: 25px 25px;
  }

  .interns-card {
    padding: 10px;
    min-width: 320px;
  }

  .interns-categories {
    font-size: 1rem;
  }

  .interns-fieldDropdown {
    padding: 8px 8px;
    font-size: 0.9rem;
  }
}

@media all and (max-width: 400px) {
  :root {
    --I-gap-internDetails: 4px;
  }

  .interns-categories {
    font-size: 0.9rem;
    justify-content: center;
  }

  .interns-name,
  .interns-detail {
    text-align: center;
    margin-bottom: 5px;
  }

  .interns-card {
    padding: 20px 10px;
    min-width: 50%;
    max-width: 80%;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
  }

  .interns-left {
    flex-direction: column;
    align-items: center;
  }

  .interns-right {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .mail {
    font-size: 1rem;
  }
}
